.row.header
	.scaler
		.titleBox
			.wynem Wynem
			.wynemSubtitle A bot that does (almost) everything
	.filler
	.scaler
		.logoBox
			img.logo(src = require("../../assets/images/logo/wynem.svg").default)
.pageContent
	.row
		img(src = require("../../assets/images/home/info.png").default)
		div
			h3 Wynem Bot
			p Wynem is a multipurpose discord bot that has a vast array of features for all sorts of purposes. From Moderation, to Fun, to Image Editing!
	.row
		img(src = require("../../assets/images/home/mute.png").default)
		div
			h3 Moderation
			p Wynem has full feature moderation with all the usual commands that you would expect from a moderation bot.
	.row
		img(src = require("../../assets/images/home/snap.png").default)
		div
			h3 Fun
			p Wynem has lots of fun commands to use against your friends. You can do anything from snapping them, to throwing them off a cliff!
	.row
		img(src = require("../../assets/images/home/reminder.png").default)
		div
			h3 Utilities
			p Wynem has lots of utilities avaliable, such as setting per server reminders, so that you never forget to do anything!